/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,h1 {font-family: "Raleway", sans-serif;}
body, html {height:100%;}
.bgimg {
  background-color:#000000;
  min-height:100%;
}

.radial-gradient {
  background:
    linear-gradient(2deg, rgba(211,150,85,.8), rgba(211,150,85,0) 70.71%),
    linear-gradient(17deg, rgba(188,70,20,.8), rgba(188,70,20,0) 10.71%),
    linear-gradient(336deg, rgba(146,93,49,.8), rgba(146,93,49,0) 30.71%),
    linear-gradient(290deg, rgba(162,28,16,.8), rgba(162,28,16,0) 20.71%),
    linear-gradient(200deg, rgba(87,140,158,.8), rgba(87,140,158,0) 50.71%),
    linear-gradient(150deg, rgba(144,164,189,.8), rgba(144,164,189,0) 80.71%);
}
